/* FLEX BOX RULESETS */

.flex {
  display: flex;
}

.f-wrap-wrap {
  flex-wrap: wrap;
}

.f-dir-col {
  flex-direction: column;
}

.f-dir-row {
  flex-direction: row;
}

.f-align-items-center {
  align-items: center;
}

.f-align-items-f-end {
  align-items: flex-end;
}

.f-justify-content-center {
  justify-content: center;
}

.f-justify-content-f-end {
  justify-content: flex-end;
}

.f-justify-content-space-around {
  justify-content: space-around;
}

.f-justify-content-space-between {
  justify-content: space-between;
}

.f-align-items-space-around {
  align-items: space-around;
}

.f-align-items-space-between {
  align-items: space-between;
}

.text-align-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

/* POSITIONING RULSETS */

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

/* PADDING RULSETS */

.pad-1rem {
  padding: 1rem;
}

.pad-left-1rem {
  padding-left: 1rem;
}

.pad-right-1rem {
  padding-left: 1rem;
}

.pad-l-r-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* MARGIN RULESETS */

.marg-bot-2rem {
  margin-bottom: 2rem;
}

.marg-auto {
  margin: auto;
}

/* NAVIGATION RULESETS */

.nav-bar {
  width: 100vw;
  justify-content: space-between;
}

.nav-input {
  width: 11rem;
  height: 1.875rem;
  border-radius: 4px;
  border: none;
  padding-left: 0.25rem;
}

.nav-search-form > div {
  margin: 0.2rem;
}

/* CAROUSEL RECIPE CARD RULESETS */

.carousel-previous,
.carousel-next {
  width: 50%;
}

.carousel-controls > i {
  margin: 1rem;
  padding: 1rem;
}

/* MAIN FEATURE SECTION RULESET */

.page-container {
  max-height: calc(100vh - 3.7rem);
  overflow-y: auto;
  width: 100vw;
}

/* RECIPE CARD SEARCH RENDER RULESETS */

.recipe-card {
  max-width: 100%;
  flex-direction: column-reverse;
}

.rc-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 20rem;
}

.rc-diet-information > .list-style-none {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* LINEBREAK COMPONENT RULESET */

.line-break {
  width: 80%;
  margin: auto;
}

/* AUTH FORM RULESETS */

.auth-form {
  margin-top: 3rem;
}

.auth-username,
.auth-password,
.auth-buttons {
  margin-top: 0.5rem;
}

.auth-form input {
  height: 1.875rem;
}

/* FULL RECIPE RULESETS */

.full-recipe-container {
  max-width: 100%;
}

.fr-header {
  padding: 0 1rem 1rem;
  width: 100%;
}

.fr-image > img {
  width: 100%;
  max-height: 20rem;
}

div.ac-title {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* MENU MODAL RULESET */

.menu-modal {
  position: fixed;
  z-index: 1;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-li-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOADING MODAL RULESETS */

.loading-modal {
  padding-top: 1rem;
}

.loading-modal img {
  width: 20rem;
}

/* AUTH FORM RULESETS */

.auth-form label {
  margin-right: 1rem;
}

.auth-password {
  margin-left: 0.2rem;
}

.auth-buttons > button {
  width: 5rem;
  height: 1.7rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.auth-sign-out > a {
  margin-right: 1rem;
}

/* COMMENT FEATURE RULESETS */

.comment-value > label {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.comment-value > textarea {
  width: 90%;
  height: 7rem;
  margin: auto;
}

.comment-buttons button {
  margin-top: 1rem;
}

.clear-comment {
  width: 8rem;
}

.comments-container {
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  max-height: 50rem;
  overflow-y: auto;
}

.comment-card {
  margin-left: 1rem;
  margin-right: 1rem;
}

.comment-content {
  min-height: 7rem;
  padding: 0.5rem;
}

/* DELETE MODAL RULESETS */

.delete-modal-background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.delete-modal {
  width: 80%;
  height: 18rem;
}

.delete-modal button {
  width: 6rem;
}

.delete-modal-controls {
  width: 90%;
}

.delete-modal-warning {
  margin-bottom: 3rem;
}

.page-container::-webkit-scrollbar {
  display: none;
}

.no-auth-container {
  margin-top: 2rem;
  width: 100%;
}

/* MEDIA SCREEN TABLET WIDTH RULESETS */

@media screen and (min-width: 768px) {
  /* MENU MODAL RULESETS */

  .menu-modal {
    position: inherit;
    justify-content: space-around;
  }

  .menu-options {
    display: flex;
  }

  .menu-li-block {
    width: 5rem;
  }

  /* NAVIGATION RULESETS */
  .nav-menu-icon {
    margin: auto;
  }

  .nav-search {
    margin: auto;
  }

  /* RECIPE CARD RULSETS */

  .search-recipe-render {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .recipe-card {
    width: 100%;
    padding: 0.25rem;
    flex-direction: row-reverse;
  }

  .rc-image {
    width: 40%;
  }

  /* FULL RECIPE RULESETS */

  .basic-recipe-data {
    display: flex;
    margin: auto;
    margin-top: 1rem;
  }

  .basic-recipe-data > div {
    width: 50%;
  }

  .full-recipe-container {
    width: 95%;
    margin: auto;
  }

  .fr-ingredients {
    display: flex;
    margin: auto;
    width: 95%;
  }

  .fr-ingredients > div {
    width: 50%;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 4rem);
  }

  div.main-container > div.page-container {
    align-self: center;
  }
}

/* MEDIA SCREEN DESKTOP RULESETS */

@media screen and (min-width: 1200px) {
  /* FULL RECIPE RULLE SET */

  .full-recipe-container {
    max-width: 87.5rem;
    margin: auto;
  }

  /* MAIN FEATURE SECTION RULSETS */

  .page-container {
    width: 80%;
  }

  .main-container {
    align-items: center;
  }

  /* FULL RECIPE RULESET */

  .fr-image > img {
    max-height: 20rem;
    max-width: 25rem;
  }

  /* COMMENT SECTION RULESET */

  .comments-section {
    margin: auto;
    width: 70%;
  }

  .recipe-card,
  .carousel-controls {
    width: 70%;
  }

  .carousel-controls {
    width: 70%;
  }

  .carousel-controls > button {
    width: 50%;
  }
}
