/* FLEX OPTIONS */

.flex {
  display: flex;
}

.f-wrap-wrap {
  flex-wrap: wrap;
}

.f-dir-col {
  flex-direction: column;
}

.f-dir-row {
  flex-direction: row;
}

.f-align-items-center {
  align-items: center;
}

.f-align-items-f-end {
  align-items: flex-end;
}

.f-justify-content-center {
  justify-content: center;
}

.f-justify-content-f-end {
  justify-content: flex-end;
}

.f-justify-content-space-around {
  justify-content: space-around;
}

.f-align-items-space-around {
  align-items: space-around;
}

.f-align-items-space-between {
  align-items: space-between;
}

.text-align-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.pos-absolute {
  position: absolute;
}

.pos-relative {
  position: relative;
}

/* PADDING */

.pad-1rem {
  padding: 1rem;
}

.pad-left-1rem {
  padding-left: 1rem;
}

.pad-right-1rem {
  padding-left: 1rem;
}

.pad-l-r-1rem {
  padding-left: 1rem;
  padding-right: 1rem;
}

.marg-bot-2rem {
  margin-bottom: 2rem;
}

/* nav bar */

.nav-bar {
  width: 100vw;
  justify-content: space-between;
}

.nav-input {
  width: 11rem;
  height: 30px;
  border-radius: 4px;
  border: none;
  padding-left: 4px;
}

.nav-search-form > div {
  margin: 0.2rem;
}

/* CAROUSEL */

.carousel-container {
  max-width: 375px;
}

.carousel-controls {
  top: 0;
}

.carousel-previous {
  left: 0;
}

.carousel-next {
  right: 0;
}

.carousel-controls > button {
  width: 30px;
}

.carousel-controls > i {
  margin: 0;
  padding: 0;
}

/* div holding components */

.page-container {
  max-height: calc(100vh - 3.5rem);
  overflow-y: auto;
  width: 100vw;
}

/* recipe card */

.recipe-card {
  max-width: 375px;
  flex-direction: column-reverse;
}

.rc-image {
  height: 250px;
  width: 375px;
  background-repeat: no-repeat;
  background-position: center;
}

.rc-title {
  height: 95px;
}

.rc-diet-information > .list-style-none {
  padding-left: 2rem;
  padding-right: 2rem;
}

.line-break {
  width: 80%;
  margin: auto;
}

.auth-form {
  margin-top: 3rem;
}

.auth-form > div {
  margin-top: 0.5rem;
}

.auth-form input {
  height: 30px;
}

/* full recipe */

.full-recipe-container {
  max-width: 450px;
}

.ac-title {
  display: flex;
  justify-content: space-between;
}

.fr-header {
  padding: 0 1rem 1rem;
  min-width: 350px;
  max-width: 450px;
}

.fr-basic ul > li {
  width: 50%;
  text-align: center;
}

.fr-image,
.fr-image img {
  width: 375px;
}

div.ac-title {
  padding: 0.5rem;
}

.ac-title h4,
div.ac-title p,
.ac-title i {
  margin: 0;
}

.menu-modal {
  position: fixed;
  z-index: 1;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu-li-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-modal {
  padding-top: 1rem;
}

.loading-modal img {
  width: 320px;
}

.auth-form label {
  margin-right: 1rem;
}

.auth-password {
  margin-left: 0.2rem;
}

.auth-buttons > button {
  width: 5rem;
  height: 1.7rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.auth-sign-out > a {
  margin-right: 1rem;
}

.comment-value > label {
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.comment-value > textarea {
  width: 90%;
  height: 7rem;
  margin: auto;
}

.comment-buttons button {
  margin-top: 1rem;
}

.clear-comment {
  width: 8rem;
}

.comments-container {
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  max-height: 50rem;
  overflow-y: auto;
}

.comment-card {
  margin-left: 1rem;
  margin-right: 1rem;
}

.comment-content {
  min-height: 7rem;
  padding: 0.5rem;
}

.delete-modal-background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.delete-modal {
  width: 350px;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .menu-modal {
    position: inherit;
    justify-content: space-around;
  }

  .menu-options {
    display: flex;
  }

  .menu-li-block {
    width: 5rem;
  }

  .nav-menu-icon {
    margin: auto;
  }

  .nav-search {
    margin: auto;
  }

  /* nav bar */
  .nav-bar {
    max-width: 1500px;
  }

  .search-recipe-render {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* recipe card  */

  .recipe-card {
    width: 700px;
    max-width: 800px;
    flex-direction: row-reverse;
  }

  .fr-header {
    margin: auto;
  }

  .basic-recipe-data {
    display: flex;
  }

  div.ac-title {
    font-size: small;
  }

  .carousel-container {
    width: 700px;
    max-width: 800px;
    margin: auto;
    margin-top: 2rem;
  }

  .full-recipe-container {
    min-width: 700px;
    max-width: 900px;
    margin: auto;
  }

  .fr-ingredients {
    display: flex;
  }

  .fr-ingredients > div {
    width: 50%;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-width: 768px;
    max-width: 1000px;
  }

  div.main-container > div.page-container {
    align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .full-recipe-container {
    max-width: 1400px;
    margin: auto;
  }

  .page-container {
    min-width: 1200px;
    max-width: 1400px;
  }

  .main-container {
    align-items: center;
  }

  .fr-basic {
    margin: 0;
  }

  .basic-recipe-data {
    display: flex;
    justify-content: space-around;
  }

  .comments-section {
    margin: auto;
    width: 786px;
  }
}
