/* recipe card */

.recipe-card {
  width: 375px;
}

/* recipe card text */

.rc-text {
  height: 200px;
}

.rc-text div {
  height: 100px;
  padding: 0.5rem;
}

.rc-text div > h3,
.rc-likes > h1,
.li-style-none,
.li-style-none li p {
  margin: 0;
  padding: 0;
}

.li-style-none {
  list-style-type: none;
}

/* recipe card image and rating */

.rc-image {
  height: 200px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.rc-shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
