body {
  background-color: #201c2b;
  font-family:
    Inter,
    sans-serif;
  color: #e5e3e8;
}

/*
Primary: #6441A4
Primary Dark: #201C2B
Primary Light: #E2DBF0
Secondary: #54595E
Secondary Dark: #232127
Secondary Light: #E5E3E8
*/

.font-dark-2 {
  color: #232127;
}

.font-light-1 {
  color: #e2dbf0;
}

.txt-shadow {
  text-shadow:
    1px 1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    -1px -1px 2px black;
}

/* recipe card */

.recipe-card {
  background-color: #201c2b;
}

.recipe-card:hover {
  cursor: pointer;
}

.rc-likes h2 {
  font-size: 2rem;
  opacity: 70%;
}

.rc-shade {
  background-color: #201c2b38;
}

.rc-image {
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
}

.list-style-none {
  color: #e2dbf0;
}

@media screen and (min-width: 700px) {
  .rc-image,
  .rc-shade {
    border-radius: 50%;
  }
}
