body {
  background-color: #201c2b;
  font-family:
    Inter,
    sans-serif;
  color: #e5e3e8;
}

/*
Primary: #6441A4
Primary Dark: #201C2B
Primary Light: #E2DBF0
Secondary: #54595E
Secondary Dark: #232127
Secondary Light: #E5E3E8
*/

.semi-bold {
  font-weight: 600;
}

.clr-2nd-drk {
  color: #232127;
}

/* recipe card */

.rc {
  background-color: #e2dbf0;
  color: #201c2b;
}

.t-ct {
  padding-top: 1rem;
}

.t-ct p {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.t-ct ul {
  padding-bottom: 0.5rem;
}
